{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": true,
      "target": "https://estela.local",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": false,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "/estelaestudio.com/public_html/wp-content/themes/estela",
      "timeout": 20000,
      "autoUpload": false,
      "reuseConnection": true,
      "connectionType": "ftp",
      "history": [
        {
          "file": "archive.php",
          "mtimeMs": 1605732990096.8772,
          "date": "2020-12-16T14:34:35.168Z"
        },
        {
          "file": "functions.php",
          "mtimeMs": 1582678201000,
          "date": "2020-11-09T00:58:10.298Z"
        },
        {
          "file": "index.php",
          "mtimeMs": 1596938227672.7622,
          "date": "2020-11-09T00:58:12.079Z"
        },
        {
          "file": "page-home.php",
          "mtimeMs": 1604893636873.0044,
          "date": "2020-11-09T03:47:51.124Z"
        },
        {
          "file": "page.php",
          "mtimeMs": 1582678203000,
          "date": "2020-11-09T00:58:15.979Z"
        },
        {
          "file": "screenshot.png",
          "mtimeMs": 1596923026887.8696,
          "date": "2020-11-09T00:58:18.479Z"
        },
        {
          "file": "search.php",
          "mtimeMs": 1582678204000,
          "date": "2020-11-09T00:58:20.258Z"
        },
        {
          "file": "sidebar.php",
          "mtimeMs": 1582678204000,
          "date": "2020-11-09T00:58:22.074Z"
        },
        {
          "file": "single.php",
          "mtimeMs": 1593541678000,
          "date": "2020-11-09T00:58:24.009Z"
        },
        {
          "file": "style.css",
          "mtimeMs": 1596922612164.942,
          "date": "2020-11-09T00:58:25.788Z"
        },
        {
          "file": "assets/css/bk.css",
          "mtimeMs": 1596983439302.184,
          "date": "2020-11-09T00:58:27.954Z"
        },
        {
          "file": "assets/css/blocks.css",
          "mtimeMs": 1585737721000,
          "date": "2020-11-09T00:58:30.088Z"
        },
        {
          "file": "assets/css/editor.css",
          "mtimeMs": 1585737822000,
          "date": "2020-11-09T00:58:32.400Z"
        },
        {
          "file": "assets/css/fullpage.min.css",
          "mtimeMs": 1585737722000,
          "date": "2020-11-09T00:58:34.562Z"
        },
        {
          "file": "assets/css/main-dist.css",
          "mtimeMs": 1604893475846.0303,
          "date": "2020-11-09T03:47:53.448Z"
        },
        {
          "file": "assets/css/main-dist.css.map",
          "mtimeMs": 1604893475846.8274,
          "date": "2020-11-09T03:47:55.720Z"
        },
        {
          "file": "assets/css/main.css",
          "mtimeMs": 1604893475041.7197,
          "date": "2020-11-09T03:47:58.028Z"
        },
        {
          "file": "assets/css/main.css.map",
          "mtimeMs": 1604893475042.221,
          "date": "2020-11-09T03:48:00.295Z"
        },
        {
          "file": "assets/img/Group 45.jpg",
          "mtimeMs": 1604414412384.4873,
          "date": "2020-11-09T00:58:46.837Z"
        },
        {
          "file": "assets/img/animacionInicial250.gif",
          "mtimeMs": 1603381454584.7664,
          "date": "2020-11-09T00:58:50.250Z"
        },
        {
          "file": "assets/img/banner-cerebrollo.jpg",
          "mtimeMs": 1604442065596.5437,
          "date": "2020-11-09T00:58:54.368Z"
        },
        {
          "file": "assets/img/car.png",
          "mtimeMs": 1597110809914.432,
          "date": "2020-11-09T00:58:56.498Z"
        },
        {
          "file": "assets/img/cro.svg",
          "mtimeMs": 1604344730690.852,
          "date": "2020-11-09T00:58:58.797Z"
        },
        {
          "file": "assets/img/design-icon.svg",
          "mtimeMs": 1604433930367.797,
          "date": "2020-11-09T00:59:00.934Z"
        },
        {
          "file": "assets/img/development-icon.svg",
          "mtimeMs": 1604433930364.7336,
          "date": "2020-11-09T00:59:03.077Z"
        },
        {
          "file": "assets/img/homeimg.png",
          "mtimeMs": 1597096399338.2441,
          "date": "2020-11-09T00:59:05.909Z"
        },
        {
          "file": "assets/img/info-icon.svg",
          "mtimeMs": 1604350133931.0613,
          "date": "2020-11-09T00:59:08.050Z"
        },
        {
          "file": "assets/img/integrations.svg",
          "mtimeMs": 1604344730679.9358,
          "date": "2020-11-09T00:59:10.169Z"
        },
        {
          "file": "assets/img/launch-icon.svg",
          "mtimeMs": 1604433930361.0952,
          "date": "2020-11-09T00:59:12.319Z"
        },
        {
          "file": "assets/img/logoWeb.gif",
          "mtimeMs": 1596932708810.4312,
          "date": "2020-11-09T00:59:15.846Z"
        },
        {
          "file": "assets/img/logoWeb.svg",
          "mtimeMs": 1603480374108.5356,
          "date": "2020-11-09T00:59:17.977Z"
        },
        {
          "file": "assets/img/mentoring.svg",
          "mtimeMs": 1604344730696.1147,
          "date": "2020-11-09T00:59:20.105Z"
        },
        {
          "file": "assets/img/proceso.svg",
          "mtimeMs": 1604407272607.0427,
          "date": "2020-11-09T00:59:22.584Z"
        },
        {
          "file": "assets/img/proyecto-70w.jpg",
          "mtimeMs": 1604414967996.498,
          "date": "2020-11-09T00:59:25.634Z"
        },
        {
          "file": "assets/img/proyecto-70w.png",
          "mtimeMs": 1604415703387.914,
          "date": "2020-11-09T00:59:29.776Z"
        },
        {
          "file": "assets/img/proyecto-70w.svg",
          "mtimeMs": 1604414401972.6047,
          "date": "2020-11-09T00:59:42.693Z"
        },
        {
          "file": "assets/img/proyecto-brick.png",
          "mtimeMs": 1604432832487.8809,
          "date": "2020-11-09T00:59:52.896Z"
        },
        {
          "file": "assets/img/proyecto-gsd.png",
          "mtimeMs": 1604432656097.7417,
          "date": "2020-11-09T00:59:56.291Z"
        },
        {
          "file": "assets/img/review-icon.svg",
          "mtimeMs": 1604433930355.1655,
          "date": "2020-11-09T00:59:58.413Z"
        },
        {
          "file": "assets/img/servicios-home.jpg",
          "mtimeMs": 1604343335740.8196,
          "date": "2020-11-09T01:00:01.453Z"
        },
        {
          "file": "assets/img/software-develop.svg",
          "mtimeMs": 1604344730705.2673,
          "date": "2020-11-09T01:00:03.576Z"
        },
        {
          "file": "assets/img/strategy-icon.svg",
          "mtimeMs": 1604433930370.5662,
          "date": "2020-11-09T01:00:05.679Z"
        },
        {
          "file": "assets/img/uxui.svg",
          "mtimeMs": 1604344730716.299,
          "date": "2020-11-09T01:00:07.835Z"
        },
        {
          "file": "assets/img/videobg.mp4",
          "mtimeMs": 1598189463013.6858,
          "date": "2020-11-09T01:00:18.170Z"
        },
        {
          "file": "assets/img/web-develop.svg",
          "mtimeMs": 1604344730709.3027,
          "date": "2020-11-09T01:00:20.295Z"
        },
        {
          "file": "assets/js/additional-methods.min.js",
          "mtimeMs": 1585907689000,
          "date": "2020-11-09T01:00:22.811Z"
        },
        {
          "file": "assets/js/bk.js",
          "mtimeMs": 1585907691000,
          "date": "2020-11-09T01:00:24.951Z"
        },
        {
          "file": "assets/js/headlines.js",
          "mtimeMs": 1597093974341.9841,
          "date": "2020-11-09T01:00:27.258Z"
        },
        {
          "file": "assets/js/jquery-3.4.1.min.js",
          "mtimeMs": 1585907691000,
          "date": "2020-11-09T01:00:30.079Z"
        },
        {
          "file": "assets/js/jquery.validate.min.js",
          "mtimeMs": 1585907689000,
          "date": "2020-11-09T01:00:32.603Z"
        },
        {
          "file": "assets/js/juego.js",
          "mtimeMs": 1590158944000,
          "date": "2020-11-09T01:00:34.755Z"
        },
        {
          "file": "assets/js/main-dist.js",
          "mtimeMs": 1604893105563.8828,
          "date": "2020-11-09T03:38:32.216Z"
        },
        {
          "file": "assets/js/main-dist.js.map",
          "mtimeMs": 1604893105564.7976,
          "date": "2020-11-09T03:38:34.439Z"
        },
        {
          "file": "assets/js/main.js",
          "mtimeMs": 1604893104699.8782,
          "date": "2020-11-09T03:38:36.837Z"
        },
        {
          "file": "assets/js/rut.js",
          "mtimeMs": 1585907690000,
          "date": "2020-11-09T01:00:43.677Z"
        },
        {
          "file": "assets/js/sourcebuster.min.js",
          "mtimeMs": 1544621361000,
          "date": "2020-11-09T01:00:46.183Z"
        },
        {
          "file": "functions/author-bio.php",
          "mtimeMs": 1582678191000,
          "date": "2020-11-09T01:00:48.135Z"
        },
        {
          "file": "functions/cleanup.php",
          "mtimeMs": 1582678191000,
          "date": "2020-11-09T01:00:50.082Z"
        },
        {
          "file": "functions/cpt.php",
          "mtimeMs": 1605732334453.8198,
          "date": "2020-12-16T14:34:37.096Z"
        },
        {
          "file": "functions/develop.php",
          "mtimeMs": 1604884769004.1587,
          "date": "2020-11-09T03:09:39.095Z"
        },
        {
          "file": "functions/enqueues.php",
          "mtimeMs": 1608129258186.4146,
          "date": "2020-12-16T14:34:39.027Z"
        },
        {
          "file": "functions/hooks.php",
          "mtimeMs": 1582678192000,
          "date": "2020-11-09T01:00:58.248Z"
        },
        {
          "file": "functions/index-pagination.php",
          "mtimeMs": 1582678192000,
          "date": "2020-11-09T01:01:00.189Z"
        },
        {
          "file": "functions/navbar.php",
          "mtimeMs": 1593120024000,
          "date": "2020-11-09T01:01:02.161Z"
        },
        {
          "file": "functions/search-widget.php",
          "mtimeMs": 1582678193000,
          "date": "2020-11-09T01:01:04.102Z"
        },
        {
          "file": "functions/setup.php",
          "mtimeMs": 1582678193000,
          "date": "2020-11-09T01:01:06.054Z"
        },
        {
          "file": "functions/single-split-pagination.php",
          "mtimeMs": 1582678193000,
          "date": "2020-11-09T01:01:08.029Z"
        },
        {
          "file": "functions/widgets.php",
          "mtimeMs": 1582678194000,
          "date": "2020-11-09T01:01:09.974Z"
        },
        {
          "file": "includes/footer.php",
          "mtimeMs": 1604891037841.8923,
          "date": "2020-11-09T03:09:41.189Z"
        },
        {
          "file": "includes/header.php",
          "mtimeMs": 1604765883399.0464,
          "date": "2020-11-09T01:01:14.056Z"
        },
        {
          "file": "includes/loops/404.php",
          "mtimeMs": 1582678196000,
          "date": "2020-11-09T01:01:16.168Z"
        },
        {
          "file": "includes/loops/index-loop.php",
          "mtimeMs": 1582678196000,
          "date": "2020-11-09T01:01:18.304Z"
        },
        {
          "file": "includes/loops/index-post-none.php",
          "mtimeMs": 1582678197000,
          "date": "2020-11-09T01:01:20.424Z"
        },
        {
          "file": "includes/loops/index-post.php",
          "mtimeMs": 1582678197000,
          "date": "2020-11-09T01:01:22.562Z"
        },
        {
          "file": "includes/loops/page-content.php",
          "mtimeMs": 1582678196000,
          "date": "2020-11-09T01:01:24.680Z"
        },
        {
          "file": "includes/loops/search-results.php",
          "mtimeMs": 1582678197000,
          "date": "2020-11-09T01:01:26.805Z"
        },
        {
          "file": "includes/loops/single-post-comments.php",
          "mtimeMs": 1582678198000,
          "date": "2020-11-09T01:01:29.097Z"
        },
        {
          "file": "includes/loops/single-post.php",
          "mtimeMs": 1582678198000,
          "date": "2020-11-09T01:01:31.223Z"
        },
        {
          "file": "includes/template-parts/shoping-list.php",
          "mtimeMs": 1604889442553.1467,
          "date": "2020-11-09T03:09:43.279Z"
        },
        {
          "file": "archive-servicios.php",
          "mtimeMs": 1604890183317.215,
          "date": "2020-11-09T03:09:13.250Z"
        },
        {
          "file": "assets/img/menu-logo.jpg",
          "mtimeMs": 1604884709132.5142,
          "date": "2020-11-09T03:09:28.507Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "images": {
      "preserveOriginal": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "> 2%",
          "not dead"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "> 2%",
                "not dead"
              ],
              "preserveImports": false,
              "polyfills": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-static-block": false,
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-logical-assignment-operators": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "> 2%",
                    "not dead"
                  ],
                  "preserveImports": false,
                  "polyfills": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-static-block": false,
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-logical-assignment-operators": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "removeCharset": false,
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_funcs": true,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "removeCharset": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "> 2%",
          "not dead"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "tailwindcss": {
        "rootDir": "",
        "content": [
          "**/*.html",
          "**/*.php",
          "**/*.js",
          "!wp-admin",
          "!wp-includes",
          "!node_modules",
          "!Prepros Export"
        ]
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "tailwindcss",
            "enable": false
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": false
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "assets/css/main.css",
        "config": {
          "autoCompile": true,
          "sourceMap": true
        }
      },
      {
        "file": "assets/js/main.js",
        "config": {
          "autoCompile": true,
          "sourceMap": true,
          "tasks": {
            "babel": {
              "enable": true
            },
            "bundle-js": {
              "options": {
                "devMode": false
              },
              "enable": true
            }
          }
        }
      },
      {
        "file": "assets/scss/main.scss",
        "config": {
          "sourceMap": true
        }
      }
    ]
  }
}
