@charset 'UTF-8';
@import "utils/variables";
@import "utils/functions";
@import "utils/media";
@import "utils/mixins";
@import "utils/placeholders";

@import "base/reset";
@import "base/typography";
@import "base/global";

@import "components/loader";
@import "components/hamburguer";
@import "components/navbar";
@import "components/buttons";
@import "components/headline";
@import "components/cards";
@import "components/videos";
@import "components/footer";

@import "pages/home";
.formulario-general{
    input, textarea{
        background: none;
        border:none;
        border-bottom: 1px solid $brand-secondary-color;
        border-radius: 0;
    }
    .input-group-text{
        border-radius:0;
        border-bottom: 1px solid $brand-secondary-color;
    }
    .label{
        position: relative;
        transition: .1s all ease-in-out;
        transform: translateY(35px);
    }
    .activelabel{
        transform: translateY(0);
    }
}